.container{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3{
  font-size: 40px;
}
.display{
  font-size: 45px;
}
.buttons{
  font-size: 25px;
  display: flex;
}

.buttons button{
  margin-right: 10px;
  margin-left: 10px;
  background-color: #B6B6B6;
  border-radius: 1px;
}

.btn{
  width: 100%;
  padding: 25px;
  margin-left: 5px;
  font-size: 20px;
}

/*.buttons p:hover{*/
/*  cursor: pointer;*/
/*} */